<!-- Darstellung der neusten Bestellungen -->

{% extends "base.html"%}
{% block content %}

<div class="container">
    <h2>Neuste Bestellungen</h2>
    <p>Hier werden die 5 neusten Bestellungen angezeigt</p>
    <table class="table table-striped" style="font-size: 28px;">
        <thead>
        <tr>
            <th style="width:5%">ID</th>
            <th style="width:30%">Zeit</th>
            <th>Produkte</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td><p>{{ order[0] }}</p></td>
                <td><p>{{ order[1] }}</p></td>
                <td><p>{{ order[3]|safe }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    window.setTimeout( function() {
        window.location.reload();
    }, 10000);
</script>
{% endblock %}